<?xml version="1.0" ?>
<robot name="(Sin" xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:include filename="$(find (Sin_description)/urdf/materials.xacro" />
<xacro:include filename="$(find (Sin_description)/urdf/(Sin.trans" />
<xacro:include filename="$(find (Sin_description)/urdf/(Sin.gazebo" />
<link name="base_link">
  <inertial>
    <origin xyz="-8.046819532279317e-07 0.0026193393857306367 0.04086038320646766" rpy="0 0 0"/>
    <mass value="3.631230543502727"/>
    <inertia ixx="0.004489" iyy="0.004985" izz="0.005535" ixy="-0.0" iyz="2.6e-05" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://(Sin_description/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://(Sin_description/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

</robot>
